{% extends "base.html" %}

{% block content %}
  <!-- Form data should be in here -->
  <h1>Beverage Order Form</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label }}:{{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>
      {{ form.email.label }}: {{ form.email(size=42) }}
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>
      {{ form.drink_type.label }}: {{ form.drink_type() }}
    </div>
    <div>
      {{ form.milk_type.label }}: {{ form.milk_type() }}
    </div>
    <div>
      {{ form.sugar.label }}: {{ form.sugar() }}
    </div>
    <div>
      {{ form.extras.label }}: {{ form.extras() }}
    </div>
    <div>{{ form.payment() }} {{ form.payment.label }}</div>
    <div>{{ form.submit() }}</div>
  </form>
{% endblock %}

<!--
  username = StringField("Your Name", validators=[Length(min=2, max=30), DataRequired()])
  #email = EmailField('Email', [validators.Length(min=6, max=50), validators.Email()])  <-- Example from Reddit
  email = EmailField("Email", validators=[Length(min=6, max=40), Email(message=("Not a valid email address")), DataRequired()])
  drink_type = SelectField("Name yer poison", choices=[("flatWhite", "Flat White"), ("cappucino", "Cappucino"), ("black", "Black"), ("mocha", "Mocha"), ("hotChoc", "Hot Chocolate")])
  milk_type = SelectField("Milk", choices = [("fullCream", "Full Cream"), ("hilo", "Hi-Lo"), ("skim", "Skim"), ("almond", "Almond"), ("soy", "Soy"), ("none", "None")])
  sugar = SelectField("Sugar", choices = [("one", "One"), ("two", "Two"), ("three", "Three"), ("none", "None")])
  extras = SelectField("Extras", choices = [("xshot", "Extra Shot"), ("mmallow", "Marshmallow"), ("nekkidSukes", "Naked Sukes")])
  payment = BooleanField("Paid")
  submit = SubmitField("Submit Order")
-->